@font-face {
  font-family: mainFont;
  src: url('../src/assets/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: boldFont;
  src: url('../src/assets/fonts/Roboto/Roboto-Bold.ttf');
}

h1,h2,h3,h4,h5,p {
  font-family: mainFont;
}

.navbar-container {
  min-width: 100vw;
  max-width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  text-decoration: none;
  list-style: none;
}

.navbar__links-list {
  display: flex;
  justify-content: space-evenly;

}

.navbar-container > * {
  flex: 1
}

.navbar__header {
  margin-left: 4rem;
  color: #67A8F0;
}

.newscardcontainer-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.navbar__img {
  max-height: 100px;
}

.newscard-container {
  max-width: 300px;
}

.newscard-container

.newscard__img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  border: solid black 0.5px;
}

.newscard__description, .newscard__header, .newscard__date {
  padding: 0 1rem;
}

.newscard__date {
  font-family: boldFont;
}

details > div {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

summary {
  height: 80px;
  display: flex;
  align-items: center;
  transition: 1000ms
}

details[open] > summary {
  background-color: #67a7f01c;
  border-bottom: solid black 0.5px;
}

details[open] {
  border-bottom: solid black 0.5px;
  border-top: solid black 0.5px;
}

.summary__header {
  margin-left: 4rem;
}